*.json
*.csv
*.txt
*.zip
*.png
mlruns
mlartifacts

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Ignore all files inside cache folder
cache/

# Environment variables
.env
*.env

# Airflow logs and database
logs/
airflow.db
*.pid
untracked_files/

# Docker logs
*.log

# OS files
.DS_Store
Thumbs.db

# Ignore the entire folders
config/
kafka/data_1/
kafka/data_2/
kafka/data_3/

kafka/data1/
kafka/data2/
kafka/data3/

kafka/kafka-data/
scripts/test.ipynb