version: '3.8'

services:
  streamlit:
    build:
      context: .  
      dockerfile: Dockerfile
    container_name: streamlit-dashboard
    ports:
      - "8501:8501"
    volumes:
      - ./scripts:/app/scripts  # optional: for live edits
    env_file:
      - .env
    networks:
      - fraud_network

networks:
  fraud_network:
    external: true 

