services:
  fraud_postgres:
    container_name: fraud_postgres
    image: postgres:14
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PW}
      - POSTGRES_DB=${POSTGRES_DB} 
    ports:
      - "5431:5432"
    networks:
      - fraud_network
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_MAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_PW}
    ports:
      - "5050:80"
    networks:
      - fraud_network
    restart: always
    volumes:
      - pgadmin_data:/var/lib/pgadmin

networks:
  fraud_network:
    external: true   

volumes:
  postgres_data:
  pgadmin_data: